.name-sub {
  text-decoration: none;
  color: #00251A;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #69f0ae 50%, rgba(0,0,0,0) 50.1%);
  background-position: left 0 bottom 0;
}